.topnav {
  overflow: hidden;
  background-color: #000;
  height: 60px;
}

.topnav a, .topnav p {
  color: #f2f2f2;
  text-align: center;
  font-family: Monospace, verdana, arial;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #222;
  color: #fff;
}

.topnav a.active {
  background-color: #1bb76e;
  color: #fff;
}

.topnav .right {
  float: right;
}